#unikum{
    color: red;
    font-size: large;
}


.zalsteksts {
    color: green;
    border-style: dashed;
}

.ramitis {
    border-style: double;
    border-color: aqua;

}

#specialramitis{
    border-style: dashed;
    border-color: cornflowerblue;
    margin:20px;
    padding: 20px;
    width: 50%;
    display: grid;
    grid-template-columns: 20% 80%;
}

ul li{
    font-style: italic;

}

ol li{
    text-decoration: underline;
}

body{
    background-color: aquamarine;
}